.tool-bar-container {
  display: flex;
  width: 100%;
  margin: 0 0 0 0;
  box-sizing: border-box;
  color: var(--primary);
  background-color: var(--background);
  z-index: 1;
  border-bottom: 1px solid #ccc;
}

.bar {
  display: flex;
  flex-grow: 1;
  padding: 0;
  margin: 0 0 0 5px;
  list-style: none;
  text-align: right;
}

.icon {
  margin: 10px 10px 0 0;
}

.icon img {
  width: 32px;
  height: 32px;
  max-width: 32px;
  max-height: 32px;
}

::ng-deep .site-wrapper.darkMode app-toolbar .github-button {
  filter: brightness(100);
}

::ng-deep .site-wrapper.darkMode app-toolbar .dark-mode-button-container {
  background-color: #fff;
}

::ng-deep .site-wrapper.darkMode app-toolbar .dark-mode-button {
  filter: invert();
}

@media screen and (min-width: 1100px) {
  .tool-bar-container {
    position: fixed;
    top: 0;
    right: calc(210mm + 20px);
    left: 0;
  }
}
