.site-wrapper {
  --background: #fff;
  --white-background: #fff;
  --primary: #383a42;
  background-color: var(--background);
}

.site-wrapper.darkMode {
  --background: #282c34;
  --white-background: #ccc;
  --primary: #abb2bf;
}

.view {
  margin-top: 3px;
  padding-top: 10px;
  display: block;
}

app-page {
  display: block;
  text-align: center;
}

@media screen and (min-width: 1100px) {
  .view {
    display: flex;
    margin-top: 56px;
  }

  app-page {
    display: inline;
    text-align: start;
  }
}
