/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 8px 14px;
  border-radius: 4px;
  margin: 10px 4px;
  appearance: none;
  background-color: #fff;
}

.btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #5d5df7;
}

.btn:active,
.btn.selected:not(:hover) {
  color: #fff;
  background-color: #1919b3;
}