.twig-template {
  width: calc(100% - 20px);
  tab-size: 2;
  resize: none;
  min-height: calc(5em - 1px);
  max-height: 50vh;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #ccc;
}

.twig-preview {
  width: 210mm;
  min-height: 297mm;
  box-shadow: 0 0 3px 0 #ccc;
  margin: 0 auto;
  padding: 12.7mm;
  box-sizing: border-box;
}

@media screen and (min-width: 1469px) {
  .twig-template {
    width: calc(100% - (210mm + 30px));
    min-width: 540px;
    display: inline-block;
    vertical-align: top;
  }

  .twig-preview {
    display: inline-block;
    margin: 10px 10px 10px 0;
  }
}
