.left-margin {
  margin-left: 10px;
}

.section-labels {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
}

.input-templates {
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  width: calc(100% - 20px);
  tab-size: 2;
  resize: none;
  min-height: calc(5em - 1px);
  max-height: 50vh;
  margin: 5px 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #ccc;
  background-color: #fff;
  color: #383a42;
}

@media screen and (min-width: 1100px) {
  .input-container {
    position: relative;
    width: calc(100% - (210mm + 10px));
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .fixed-container {
    position: fixed;
    top: 0;
    right: calc(210mm + 10px);
    bottom: 0;
    left: 0;
  }

  .input-templates {
    display: block;
    width: calc(100% - 20px);
    height: calc(33.55% - 51.72px);
    min-height: calc(33.55% - 51.72px);
    max-height: calc(33.55% - 51.72px);
  }

  .twig-preview-container {
    display: inline-block;
    vertical-align: top;
  }
}
