<app-toolbar></app-toolbar>

<div class="input-container">
  <div class="fixed-container">
    <h3 class="section-labels left-margin">HTML / TWIG</h3>
    <textarea #twigTemplateElement class="twig-template" [(ngModel)]="twigTemplate" (ngModelChange)="renderTwig()" (input)="adjustTextAreaHeight($event)" (keydown.Tab)="handleTabKey($event)"></textarea>

    <h3 class="section-labels left-margin">CSS</h3>
    <textarea #cssTemplateElement class="css-template" [(ngModel)]="cssTemplate" (ngModelChange)="renderTwig()" (input)="adjustTextAreaHeight($event)" (keydown.Tab)="handleTabKey($event)"></textarea>
  </div>
</div>

<div class="twig-preview-container">
  <h3 class="section-labels">Preview</h3>

  <app-twig-preview [twigTemplate]="twigTemplate" [cssTemplate]="cssTemplate"></app-twig-preview>
</div>
